<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1><%= task.title %></h1>

<p><strong>Description: </strong><%= task.description %></p>
<p><strong>Status: </strong><%= task.status %></p>
<p><strong>Created at: </strong><%= task.createdAt.toLocaleString() %></p>
<p><strong>Last update: </strong><%= task.updatedAt.toLocaleString() %></p>

<div>
    <a href="/task/edit/<%= task._id %>">Edit</a>
    <form action="/task/delete/<%= task._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>

<%- include('../partials/footer') %>