<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="new-task">
    <h1><%= title %></h1>

    <form action="<%= action %>" method="post">
        <div>
            <label for="title">Task title:</label>
            <input type="text" name="title" value="<%= task ? task.title : '' %>" required>
        </div>

        <div>
            <label for="description">Task description:</label>
            <textarea name="description" required><%= task ? task.description : '' %></textarea>
        </div>

        <div class="status-btn">
            <div>
                <label for="status">Task status:</label>
                <select name="status">
                    <option value="pending" <%= task && task.status === 'pending' ? 'selected' : '' %>>pending</option>
                    <option value="in progress" <%= task && task.status === 'in progress' ? 'selected' : '' %> >in progress</option>
                    <option value="completed" <%= task && task.status === 'completed' ? 'selected' : '' %>>completed</option>
                </select> 
            </div>

            <button type="submit">Save</button>
        </div>
    </form>
</div>

<%- include('../partials/footer') %>