<%- include('../partials/head') %>
<%- include('../partials/header') %>

<a href="/task/new">New task</a>

<% if(tasks.length > 0){ %>
    <ul>
        <% tasks.forEach(task =>{ %>
            <li>
                    <a href="/task/<%= task._id %>">
                    <h2><%= task.title %></h2>
                    <p><%= task.status %></p>
                    <p><%= task.description %></p>
                    <spam>Click to see more info</spam>
                </a>
            </li>
        <% }) %>
    </ul>
<% } else{ %>
    <p>No tasks found. create a new task</p>
<% } %>

<%- include('../partials/footer') %>