<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="index-content">
    <div class="top-content">
        <h1>All tasks:</h1>
        <a href="/task/new">
            <span class="material-symbols-outlined add">
                add
            </span>New task</a>
    </div>

    <div class="all-tasks">
        <% if(tasks.length > 0){ %>
            <ul>
                <% tasks.forEach(task =>{ %>
                    <li>
                        <div class="task-title">
                            <h2><%= task.title %></h2>
                            <p class="task-status"><%= task.status %></p>
                        </div>
                        <p><%= task.description %></p>
                        <a href="/task/<%= task._id %>">
                            <spam>Click to see more info</spam>
                        </a>
                    </li>
                <% }) %>
        </ul>

        <% } else{ %>
            <p>No tasks found. create a new task</p>
        <% } %>
    </div>

</div>

<script src="/js/script.js"></script>

<%- include('../partials/footer') %>